<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe / Личный кабинет</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/home}">Bank Of Universe/Личный кабинет</a>
            </div>
            <ul class="navbar-links">
                <li><a th:href="@{/user/transactions}">Переводы</a></li>
                <li><a th:href="@{/allDeposits}">Вклады</a></li>
                <li><a href="#">Карты</a></li>
                <li><a href="#">О банке</a></li>
            </ul>
            <div class="navbar-register">
                <a href="/logout" class="logout-btn">Выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/profile}" class="register-btn">Личный кабинет</a>
            </div>
        </div>
    </header>

    <main class="profile-wrapper">
        <aside class="sidebar">
            <ul>
                <li><a href="#" th:classappend="${activeSection=='personal'}?'active':''" onclick="showSection('personal')">Личные данные</a></li>
                <li><a href="#" th:classappend="${activeSection=='accounts'}?'active':''" onclick="showSection('accounts')">Счета</a></li>
                <li><a href="#" th:classappend="${activeSection=='deposits'}?'active':''" onclick="showSection('deposits')">Вклады</a></li>
                <li><a href="#" th:classappend="${activeSection=='transactions'}?'active':''" onclick="showSection('transactions')">История операций</a></li>
            </ul>
        </aside>
        <section class="profile-content">
            <div id="section-personal" class="profile-section" th:classappend="${activeSection=='personal'}?'active':''">
                <div class="profile-card">
                    <h3>Информация о клиенте:</h3>
                    <p>Имя: <span th:text="${client.firstName}">Имя</span></p>
                    <p>Отчество: <span th:text="${client.surname != null ? client.surname : '-'}">Отчество</span></p>
                    <p>Фамилия: <span th:text="${client.lastName}">Фамилия</span></p>
                    <p>Email: <span th:text="${client.mail}">Email</span></p>
                    <p>Номер телефона: <span th:text="${client.number}">Номер</span></p>
                </div>
            </div>

            <div id="section-accounts" class="profile-section" th:classappend="${activeSection=='accounts'}?'active':''">
                <div class="accounts-card">
                    <h3>Счета:</h3>
                    <div th:if="${accounts != null and !accounts.isEmpty()}">
                        <div th:each="acc : ${accounts}" class="account-item">
                            <p th:text="'Счет: ' + ${acc.idAccount}"></p>
                            <p th:text="'Баланс: ' + ${acc.amount} +' '+${acc.currency}"></p>
                            <!--                                    <p th:text="'Валюта: ' + ${acc.currency}"></p>-->
                        </div>
                    </div>
                    <div th:if="${accounts == null or accounts.isEmpty()}">
                        <p>У вас ещё нет открытых счетов.</p>
                    </div>
                </div>
            </div>

            <div id="section-deposits" class="profile-section" th:classappend="${activeSection=='deposits'}?'active':''">
                <div class="deposits-card">
                    <h3>Вклады:</h3>
                    <div th:if="${depaccounts != null and !depaccounts.isEmpty()}">
                        <div th:each="dacc : ${depaccounts}" class="deposit-item">
                            <p th:text="${dacc.value.idDeposit.name}"></p>
                            <p th:text="'Номер вклада: ' + ${dacc.value.idCD} + ', Номер счета: ' + ${dacc.value.idAccount.idAccount}"></p>
                            <p th:text="'Ставка: ' + ${dacc.value.idDeposit.rate} + ' %'"></p>
                            <p th:text="'Первоначальная сумма: ' + ${dacc.value.initialAmount} + ' ' + ${dacc.value.idAccount.currency}"></p>
                            <p th:text="'Текущая сумма: ' + ${dacc.value.idAccount.amount} + ' ' + ${dacc.value.idAccount.currency}"></p>
                            <p th:text="'Дата открытия: ' + (${dacc.value.openDate != null} ? ${#dates.format(dacc.value.openDate, 'dd.MM.yyyy')} : 'не указана')"></p>
                            <p th:text="'Действителен до: ' + (${dacc.value.closeDate != null} ? ${#dates.format(dacc.value.closeDate, 'dd.MM.yyyy')} : 'не указана')"></p>
                            <br><br>
                            <!--                                    <p th:if="${dacc.value.openDate != null}"-->
                            <!--                                       th:text="'Дата открытия: ' + ${#dates.format(dacc.value.openDate, 'dd.MM.yyyy')}"></p>-->
                            <!--                                    <p th:if="${dacc.value.openDate == null}">Дата открытия: не указана</p>-->

                            <!--                                    <p th:if="${dacc.value.closeDate != null}"-->
                            <!--                                       th:text="'Действителен до: ' + ${#dates.format(dacc.value.closeDate, 'dd.MM.yyyy')}"></p>-->
                            <!--                                    <p th:if="${dacc.value.closeDate == null}">Действителен до: не указана</p>-->
                            <div th:if="${dacc.value.depositStatus == 'ac'}" class="expired-message" style="color: red; font-weight: bold; margin-bottom: 10px;">
                                Вклад истёк. Вы можете выбрать счёт для перевода и закрыть его.
                            </div>
                            <form th:action="@{'/user/closeDeposit/' + ${dacc.value.idCD}}" method="post">
                                <input type="hidden" name="accountId" th:value="${dacc.value.idAccount.idAccount}"/>
                                <div class="info">
                                    <label for="targetAccountId">Выберите счет для перевода средств:</label>
                                </div>

                                <div class="custom-select">
                                    <select name="targetAccountId" id="targetAccountId">
                                        <option value="">Выберите счет</option>
                                        <option th:each="acc : ${accounts}"
                                                th:value="${acc.idAccount}"
                                                th:text="'Счет №' + ${acc.idAccount} + ' (' + ${acc.amount} + ' ' + ${acc.currency} + ')'">
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" class="btn close-btn"
                                        th:classappend="${dacc.value.depositStatus == 'c'} ? 'disabled-button' : ''"
                                        th:disabled="${dacc.value.depositStatus == 'c'}">
                                    Закрыть депозит
                                </button>
                                <span class="tooltip">?
                                  <span class="tooltiptext">
                                    Если закрыть вклад до истечения срока, вам выплатят вклад с доходностью 1%
                                  </span>
                                </span>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div id="section-transactions" class="profile-section" th:classappend="${activeSection=='transactions'}?'active':''">
                <div class="operations-card">
                    <h3>История операций</h3>
                    <div th:if="${transactions != null and !transactions.isEmpty()}" class="operation-list">
                        <div th:each="tx : ${transactions}" class="operation-item">
                            <div class="date" th:text="${#dates.format(tx.trDate, 'dd MMM yyyy HH:mm:ss')}">Дата</div>
                            <!--                                    <div class="date" th:text="${tx.trDate}">Дата</div>-->
                            <div class="description" th:text="'От ' + ${tx.fromAccount.idAccount} + ' к ' + ${tx.toAccount.idAccount} + ', ' + ${tx.idTransaction.name}">Описание</div>
                            <div class="amount" th:text="${tx.trAmount} + ' ' + ${tx.fromAccount.currency}">Сумма</div>
                        </div>
                    </div>
                    <div th:if="${transactions == null or transactions.isEmpty()}">
                        <p>История операций отсутствует.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Bank Of Universe. Все права не защищены.</p>
            <ul class="footer-links">
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </footer>
</div>

<script>
    function showSection(section) {
        document.querySelectorAll('.profile-section').forEach(s => s.style.display = 'none');
        document.getElementById('section-' + section).style.display = 'block';
    }
    document.addEventListener('DOMContentLoaded', () => showSection('${activeSection}' || 'personal'));
</script>
</body>
</html>

