<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe/Удалить клиента</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/home}">Bank Of Universe</a>
            </div>
            <ul class="navbar-links">
                <li><a href="#">Переводы</a></li>
                <li><a th:href="@{/allDeposits}">Вклады</a></li>
                <li><a href="#">Карты</a></li>
                <!--                    <li><a th:href="#">Переводы</a></li>-->
                <!--                    <li><a th:href="#">Вклады</a></li>-->
                <!--                    <li><a th:href="#">Карты</a></li>-->
                <!--                    <li><a th:href="#">О банке</a></li>-->
                <li><a href="#">О банке</a></li>
            </ul>
            <div class="navbar-register">
                <a href="/logout" class="logout-btn">Выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/profile}" class="register-btn">Личный кабинет</a>
            </div>
        </div>
    </header>

    <div class="client-list">
        <div th:each="account : ${accounts}" class="client-card">
            <h3 th:text="'Счет № ' + ${account.idAccount}">Номер счета</h3>
            <div class="info-list">
                <div class="info">
                    <label>Владелец:</label>
                    <span th:text="${account.idClient.firstName} + ' ' + ${account.idClient.lastName}"></span>
                </div>
                <div class="info">
                    <label>Паспорт:</label>
                    <span th:text="${account.idClient.numberPasport}"></span>
                </div>
                <div class="info">
                    <label>Баланс:</label>
                    <span th:text="${account.amount}">Баланс</span>
                </div>
                <div class="info">
                    <label>Валюта:</label>
                    <span th:text="${account.currency}">Валюта</span>
                </div>
                <div class="info">
                    <label>Тип:</label>
                    <span th:text="${account.status}">Тип</span>
                </div>

                <!-- Вложенный контейнер депозита -->
                <div th:if="${account.status == 'od' and clientDeposits[account.idAccount] != null}" class="deposit-container">
                    <h4>Привязанный депозит</h4>
                    <div class="info">
                        <label>ID депозита:</label>
                        <span th:text="${clientDeposits[account.idAccount].idCD}"></span>
                    </div>
                    <div class="info">
                        <label>Статус депозита:</label>
                        <span th:text="${clientDeposits[account.idAccount].depositStatus}"></span>
                    </div>
                    <div class="info">
                        <label>Первоначальная сумма:</label>
                        <span th:text="${clientDeposits[account.idAccount].initialAmount}"></span>
                    </div>
                    <div class="info">
                        <label>Срок в днях:</label>
                        <span th:text="${clientDeposits[account.idAccount].timeInDays}"></span>
                    </div>
                    <div class="info">
                        <label>Дата открытия:</label>
                        <span th:text="${#dates.format(clientDeposits[account.idAccount].openDate, 'dd.MM.yyyy')}"></span>
                    </div>

                    <!-- Кнопка для закрытия депозита -->
                    <form th:action="@{'/admin/closeDeposit/' + ${clientDeposits[account.idAccount].idCD}}" method="post">
                        <input type="hidden" name="accountId" th:value="${account.idAccount}"/>
                        <button type="submit" class="btn close-btn"
                                th:classappend="${clientDeposits[account.idAccount].depositStatus == 'c'} ? 'disabled-button' : ''"
                                th:disabled="${clientDeposits[account.idAccount].depositStatus == 'c'}">
                            Закрыть депозит
                        </button>
                    </form>
                </div>
            </div>

            <div th:if="${errorId == account.idAccount}" class="error-message">
                <p th:text="${errorMessage}" style="color: red; font-weight: bold;"></p>
            </div>
            <form th:action="@{'/admin/account/delete/' + ${account.idAccount}}" method="post">
                <input type="hidden" th:value="${account.idAccount}" name="idAccount"/>
                <button type="submit" class="btn delete-btn">Удалить счет</button>
            </form>
        </div>

    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Bank Of Universe. Все права не защищены.</p>
            <ul class="footer-links">
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
