<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe/Удалить клиента</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/cursor.css}">
</head>
<body>
<div id="cursor"><div id="circle"></div></div>
<div class="wrapper">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/home}">Bank Of Universe</a>
            </div>

            <div class="navbar-register">
                <a href="/logout" class="logout-btn">Выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/profile}" class="register-btn">Личный кабинет</a>
            </div>
        </div>
    </header>
    <main>

    <div class ="two-columns" style="justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap;">
        <aside class="sidebar">
            <ul>
                <li><a th:href="@{/admin/deposit}" th:classappend="${activeSection=='deposit'}?'active':''" onclick="showSection('deposit')">Создать вклад</a></li>
                <li><a th:href="@{/admin/delete}" th:classappend="${activeSection=='accDep'}?'active':''" onclick="showSection('accDep')">Удалить вклад</a></li>
                <li><a th:href="@{/admin/clientDel}" th:classappend="${activeSection=='clientDel'}?'active':''" onclick="showSection('clientDel')">Удалить клиента</a></li>
                <li><a th:href="@{/admin/clientAdd}" th:classappend="${activeSection=='clientADD'}?'active':''" onclick="showSection('clientADD')">Добавить клиента</a></li>
                <li><a th:href="@{/admin/accountDel}" th:classappend="${activeSection=='accDel'}?'active':''" onclick="showSection('accDel')">Удалить счет</a></li>
                <li><a th:href="@{/admin/topUp}" th:classappend="${activeSection=='accADD'}?'active':''" onclick="showSection('accADD')">Пополнить счет</a></li>
            </ul>
        </aside>
        <div class="client-listADM">
            <div th:each="account : ${accounts}" class="client-card">
                <h3 th:text="'Счет № ' + ${account.idAccount}">Номер счета</h3>
                <div class="info-list">
                    <div class="info">
                        <label>Владелец:</label>
                        <span th:text="${account.idClient.firstName} + ' ' + ${account.idClient.lastName}"></span>
                    </div>
                    <div class="info">
                        <label>Паспорт:</label>
                        <span th:text="${account.idClient.numberPasport}"></span>
                    </div>
                    <div class="info">
                        <label>Баланс:</label>
                        <span th:text="${account.amount}">Баланс</span>
                    </div>
                    <div class="info">
                        <label>Валюта:</label>
                        <span th:text="${account.currency}">Валюта</span>
                    </div>
                    <div class="info">
                        <label>Статус:</label>
                        <span th:text="${account.status}">Статус</span>
                    </div>

                    <div th:if="${account.status == 'od' and clientDeposits[account.idAccount] != null}" class="deposit-container">
                        <h4>Привязанный депозит</h4>
                        <div class="info">
                            <label>ID депозита:</label>
                            <span th:text="${clientDeposits[account.idAccount].idCD}"></span>
                        </div>
                        <div class="info">
                            <label>Статус депозита:</label>
                            <span th:text="${clientDeposits[account.idAccount].depositStatus}"></span>
                        </div>
                        <div class="info">
                            <label>Первоначальная сумма:</label>
                            <span th:text="${clientDeposits[account.idAccount].initialAmount}"></span>
                        </div>
    <!--                    <div class="info">-->
    <!--                        <label>Срок в днях:</label>-->
    <!--                        <span th:text="${clientDeposits[account.idAccount].timeInDays}"></span>-->
    <!--                    </div>-->
                        <div class="info">
                            <label>Дата открытия:</label>
                            <span th:text="${#dates.format(clientDeposits[account.idAccount].openDate, 'dd.MM.yyyy')}"></span>
                        </div>
                        <div class="info">
                            <label>Тип вклада:</label>
                            <span th:text="${clientDeposits[account.idAccount].idDeposit.idDeposit}"></span>
                        </div>
                        <div class="info">
                            <label>Ставка:</label>
                            <span th:text="${clientDeposits[account.idAccount].idDeposit.rate}"></span>
                        </div>

                        <form th:action="@{'/admin/closeDeposit/' + ${clientDeposits[account.idAccount].idCD}}" method="post">
                            <input type="hidden" name="accountId" th:value="${account.idAccount}"/>
                            <div class="info">
                            <label for="targetAccountId">Выберите счет для перевода средств:</label>
                            </div>
                            <div class="custom-select">
                                <select name="targetAccountId" id="targetAccountId">
                                    <option value="">Выберите счет</option>
                                    <option th:each="acc : ${availableAccountsMap[account.idAccount]}"
                                            th:value="${acc.idAccount}"
                                            th:text="'Счет №' + ${acc.idAccount} + ' (' + ${acc.amount} + ' ' + ${acc.currency} + ')'">
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn close-btn"
                                    th:classappend="${clientDeposits[account.idAccount].depositStatus == 'c'} ? 'disabled-button' : ''"
                                    th:disabled="${clientDeposits[account.idAccount].depositStatus == 'c'}">
                                Закрыть депозит
                            </button>
                        </form>
                    </div>
                </div>


                <form th:action="@{'/admin/account/delete/' + ${account.idAccount}}" method="post">
                    <input type="hidden" th:value="${account.idAccount}" name="idAccount"/>
                    <button type="submit" class="btn delete-btn"
                            th:classappend="${account.status == 'c'} ? 'disabled-button' : ''"
                            th:disabled="${account.status == 'c'}">
                        Удалить счет
                    </button>
                </form>
            </div>
        </div>
    </div>
    </main>
    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; 2025 Bank Of Universe. Все права не защищены.</p>
            <div class="footer-column">
                <div class="footer-column">
                    <h4>Автор</h4>
                    <p>ФИО: Лычешков Владислав Александрович</p>
                    <p>Группа: ПМ-41 4Б01</p>
                    <p>Email: 100479b@mail.ru </p>
                </div>
            </div>
            <div class="footer-column">
                <h4>ВоГу</h4>
                <ul class="footer-links">
                    <li>
                        <img src="/icons/vogu.png" alt="" class="footer-icon">
                        <a href="https://vogu35.ru/institut/imekn">ВоГу</a>
                    </li>
                    <li>
                        <img src="/icons/vk.png" alt="" class="footer-icon">
                        <a href="https://vk.com/vogu35">VK</a>
                    </li>
                </ul>
                <p>Адрес: г. Вологда, ул. Галкинская, 3</p>
            </div>
        </div>
    </footer>
</div>
<div th:if="${errorMessage}" class="error-popup" id="error-toast">
    <div class="error-popup-message" th:text="${errorMessage}"></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      const toast = document.getElementById('error-toast');
      if (!toast) return;

      toast.classList.add('active');

      setTimeout(() => {
        toast.classList.remove('active');
      }, 5000);
    });
</script>
<script th:src="@{/js/script.js}" defer></script>
</body>
</html>
