<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe/Добавить клиента</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/cursor.css}">
</head>
<body>
    <div id="cursor"><div id="circle"></div></div>
    <div class="wrapper">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/home}">Bank Of Universe</a>
            </div>

            <div class="navbar-register">
                <a href="/logout" class="logout-btn">Выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/profile}" class="register-btn">Личный кабинет</a>
            </div>
        </div>
    </header>
    <main>

        <div class ="two-columns" style="justify-content: flex-start; align-items: flex-start;">
            <aside class="sidebar">
                <ul>
                    <li><a th:href="@{/admin/deposit}" th:classappend="${activeSection=='deposit'}?'active':''" onclick="showSection('deposit')">Создать вклад</a></li>
                    <li><a th:href="@{/admin/delete}" th:classappend="${activeSection=='accDep'}?'active':''" onclick="showSection('accDep')">Удалить вклад</a></li>
                    <li><a th:href="@{/admin/clientDel}" th:classappend="${activeSection=='clientDel'}?'active':''" onclick="showSection('clientDel')">Удалить клиента</a></li>
                    <li><a th:href="@{/admin/clientAdd}" th:classappend="${activeSection=='clientADD'}?'active':''" onclick="showSection('clientADD')">Добавить клиента</a></li>
                    <li><a th:href="@{/admin/accountDel}" th:classappend="${activeSection=='accDel'}?'active':''" onclick="showSection('accDel')">Удалить счет</a></li>
                    <li><a th:href="@{/admin/topUp}" th:classappend="${activeSection=='accADD'}?'active':''" onclick="showSection('accADD')">Пополнить счет</a></li>
                </ul>
            </aside>
            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
            </div>
            <div class="ADMregistration-form">
                <h2>Добавить клиента</h2>
                <form method="POST" th:action="@{/admin/clientAdd}" th:object="${clients}">

                    <input name="login" type="text" placeholder="Логин" id="login" th:field="*{login}" required/>
                    <div class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Ошибка ввода логина</div>

                    <input name="mail" type="email" placeholder="Почта" id="mail" th:field="*{mail}" required/>
                    <div class="error" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Ошибка ввода почты</div>

                    <input name="password" type="password" placeholder="Пароль" id="password" th:field="*{password}"
                           minlength="8" maxlength="30"
                           pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                           title="Пароль должен быть от 8 символов, содержать хотя бы одну букву, одну цифру и один специальный символ"
                           required
                    />
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка ввода пароля</div>

                    <input name="numberPasport" type="text" placeholder="Номер и серия паспорта" id="numberPasport" th:field="*{numberPasport}" required
                           minlength="10" maxlength="10"
                    />
                    <div class="error" th:if="${#fields.hasErrors('numberPasport')}" th:errors="*{numberPasport}">Ошибка ввода номера и серии паспорта</div>

                    <input name="firstName" type="text" placeholder="Имя" id="firstNName" th:field="*{firstName}" required />
                    <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Ошибка ввода имени</div>

                    <input name="lastName" type="text" placeholder="Фамилия" id="last_name" th:field="*{lastName}"  required/>
                    <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Ошибка ввода фамилии</div>

                    <input name="surname" type="text" placeholder="Отчество" id="surname" th:field="*{surname}" />
                    <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Ошибка ввода отчества</div>

                    <input name="number" type="text" placeholder="+7XXXXXXXXXX" id="number" th:field="*{number}"
                           minlength="12" maxlength="12"
                           pattern="\+7\d{10}"
                           required
                    />
                    <div class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Ошибка ввода номера телефона</div>

                    <div class="error" th:if="${error}">
                        <p th:text="${error}"></p>
                    </div>
                    <div>
                        <label for="role">Роль:</label>
                        <select id="role" name="role">
                            <option value="USER">Пользователь</option>
                            <option value="ADMIN">Администратор</option>
                        </select>
                    </div>
                    <div class="signin">
                        <button type="submit">Добавить клиента</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; 2025 Bank Of Universe. Все права не защищены.</p>
            <div class="footer-column">
                <div class="footer-column">
                    <h4>Автор</h4>
                    <p>ФИО: Лычешков Владислав Александрович</p>
                    <p>Группа: ПМ-41 4Б01</p>
                    <p>Email: 100479b@mail.ru </p>
                </div>
            </div>
            <div class="footer-column">
                <h4>ВоГу</h4>
                <ul class="footer-links">
                    <li>
                        <img src="/icons/vogu.png" alt="" class="footer-icon">
                        <a href="https://vogu35.ru/institut/imekn">ВоГу</a>
                    </li>
                    <li>
                        <img src="/icons/vk.png" alt="" class="footer-icon">
                        <a href="https://vk.com/vogu35">VK</a>
                    </li>
                </ul>
                <p>Адрес: г. Вологда, ул. Галкинская, 3</p>
            </div>
        </div>
    </footer>
</div>
<script th:src="@{/js/script.js}" defer></script>
</body>

</html>
