<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe/Клиенты</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/cursor.css}">
</head>
<body>
<div id="cursor"><div id="circle"></div></div>
<div class="wrapper">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/home}">Bank Of Universe</a>
            </div>

            <div class="navbar-register">
                <a href="/logout" class="logout-btn">Выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/profile}" class="register-btn">Личный кабинет</a>
            </div>
        </div>
    </header>
    <main>
        <div class ="two-columns" style="justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap;">
            <aside class="sidebar">
                <ul>
                    <li><a th:href="@{/admin/deposit}" th:classappend="${activeSection=='deposit'}?'active':''" onclick="showSection('deposit')">Создать вклад</a></li>
                    <li><a th:href="@{/admin/delete}" th:classappend="${activeSection=='accDep'}?'active':''" onclick="showSection('accDep')">Удалить вклад</a></li>
                    <li><a th:href="@{/admin/clientDel}" th:classappend="${activeSection=='clientDel'}?'active':''" onclick="showSection('clientDel')">Удалить клиента</a></li>
                    <li><a th:href="@{/admin/clientAdd}" th:classappend="${activeSection=='clientADD'}?'active':''" onclick="showSection('clientADD')">Добавить клиента</a></li>
                    <li><a th:href="@{/admin/accountDel}" th:classappend="${activeSection=='accDel'}?'active':''" onclick="showSection('accDel')">Удалить счет</a></li>
                    <li><a th:href="@{/admin/topUp}" th:classappend="${activeSection=='accADD'}?'active':''" onclick="showSection('accADD')">Пополнить счет</a></li>
                </ul>
            </aside>
        <div class="client-list">

            <div th:each="client : ${clients}" class="client-card">
                <h3>Информация о клиенте:</h3>
                <p>Id: <span th:text="${client.idClient}"></span></p>
                <p>Имя: <span th:text="${client.firstName}"></span></p>
                <p th:if="${client.surname != null}">
                    Отчество: <span th:text="${client.surname}"></span>
                </p>
                <p th:if="${client.surname == null}">
                    Отчество: -
                </p>
                <p>Фамилия: <span th:text="${client.lastName}"></span></p>

                <p>Email: <span th:text="${client.mail}"></span></p>
                <p>Номер телефона: <span th:text="${client.number}"></span></p>

                <form th:action="@{'/admin/client/delete/' + ${client.idClient}}" method="post">
                    <input type="hidden" th:value="${client.idClient}" name="id"/>
                    <button type="submit" class="btn delete-btn">Удалить клиента</button>
                </form>

            </div>
        </div>
    </div>
    </main>
    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; 2025 Bank Of Universe. Все права не защищены.</p>
            <div class="footer-column">
                <div class="footer-column">
                    <h4>Автор</h4>
                    <p>ФИО: Лычешков Владислав Александрович</p>
                    <p>Группа: ПМ-41 4Б01</p>
                    <p>Email: 100479b@mail.ru </p>
                </div>
            </div>
            <div class="footer-column">
                <h4>ВоГу</h4>
                <ul class="footer-links">
                    <li>
                        <img src="/icons/vogu.png" alt="" class="footer-icon">
                        <a href="https://vogu35.ru/institut/imekn">ВоГу</a>
                    </li>
                    <li>
                        <img src="/icons/vk.png" alt="" class="footer-icon">
                        <a href="https://vk.com/vogu35">VK</a>
                    </li>
                </ul>
                <p>Адрес: г. Вологда, ул. Галкинская, 3</p>
            </div>
        </div>
    </footer>
</div>
<div th:if="${errorMessage}" class="error-popup" id="error-toast">
    <div class="error-popup-message" th:text="${errorMessage}"></div>
</div>
<div th:if="${success}" class="successful-popup" id="s-toast">
    <div class="successful-popup-message" th:text="${success}"></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      const toast = document.getElementById('error-toast');
      if (!toast) return;

      toast.classList.add('active');

      setTimeout(() => {
        toast.classList.remove('active');
      }, 5000);
    });
</script>
<script th:src="@{/js/script.js}" defer></script>
</body>
</html>

