<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe/Вклады</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/cursor.css}">
</head>
<body>
<div id="cursor"><div id="circle"></div></div>
<div class="wrapper">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/home}">Bank Of Universe</a>
            </div>

            <div class="navbar-register">
                <a href="/logout" class="logout-btn">Выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/profile}" class="register-btn">Личный кабинет</a>
            </div>
        </div>
    </header>
    <main>

        <div class ="two-columns" style="justify-content: flex-start; align-items: flex-start;">
        <aside class="sidebar">
            <ul>
                <li><a th:href="@{/admin/deposit}" th:classappend="${activeSection=='deposit'}?'active':''" onclick="showSection('deposit')">Создать вклад</a></li>
                <li><a th:href="@{/admin/delete}" th:classappend="${activeSection=='accDep'}?'active':''" onclick="showSection('accDep')">Удалить вклад</a></li>
                <li><a th:href="@{/admin/clientDel}" th:classappend="${activeSection=='clientDel'}?'active':''" onclick="showSection('clientDel')">Удалить клиента</a></li>
                <li><a th:href="@{/admin/clientAdd}" th:classappend="${activeSection=='clientADD'}?'active':''" onclick="showSection('clientADD')">Добавить клиента</a></li>
                <li><a th:href="@{/admin/accountDel}" th:classappend="${activeSection=='accDel'}?'active':''" onclick="showSection('accDel')">Удалить счет</a></li>
                <li><a th:href="@{/admin/topUp}" th:classappend="${activeSection=='accADD'}?'active':''" onclick="showSection('accADD')">Пополнить счет</a></li>
            </ul>
        </aside>
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
        <div th:each="deposit : ${deposits}" class="deposit-card">
            <h3 th:text="${deposit.name}">Название депозита</h3>
            <div class="info">
                <label>Id:</label>
                <span th:text="${deposit.idDeposit}"></span>
            </div>
            <div class="info">
                <label>Пролонгация:</label>
                <span th:text="${deposit.prolongation}">Да/Нет</span>
            </div>
            <div class="info">
                <label>Возможность пополнения:</label>
                <span th:text="${deposit.replenishmentCapasity}">Да/Нет</span>
            </div>
            <div class="info">
                <label>Ставка:</label>
                <span th:text="${deposit.rate}">Ставка</span>
            </div>
            <div class="info">
                <label>Минимальный срок (дней):</label>
                <span th:text="${deposit.minTermDays}">Мин. срок</span>
            </div>
            <div class="info">
                <label>Максимальный срок (дней):</label>
                <span th:text="${deposit.maxTermDays}">Макс. срок</span>
            </div>
            <div class="info">
                <label>Минимальная сумма:</label>
                <span th:text="${deposit.minAmount}">Мин. сумма</span>
            </div>
            <div class="info">
                <label>Максимальная сумма:</label>
                <span th:text="${deposit.maxAmount}">Макс. сумма</span>
            </div>
            <form th:action="@{'/admin/deposit/delete/' + ${deposit.idDeposit}}" method="post">
                <input type="hidden" th:value="${deposit.idDeposit}" name="idDeposit" />
                <button type="submit" class="btn delete-btn">Удалить</button>
            </form>
        </div>
    </div>
</main>
<footer class="site-footer">
    <div class="footer-content">
        <p>&copy; 2025 Bank Of Universe. Все права не защищены.</p>
        <div class="footer-column">
            <div class="footer-column">
                <h4>Создатель</h4>
                <p>ФИО: Лычешков Владислав Александрович</p>
                <p>Группа: ПМ-41 4Б01</p>
                <p>Email: 100479b@mail.ru </p>
            </div>
        </div>
        <div class="footer-column">
            <h4>ВоГу</h4>
            <ul class="footer-links">
                <li>
                    <img src="/icons/vogu.png" alt="" class="footer-icon">
                    <a href="https://vogu35.ru/institut/imekn">ВоГу</a>
                </li>
                <li>
                    <img src="/icons/vk.png" alt="" class="footer-icon">
                    <a href="https://vk.com/vogu35">VK</a>
                </li>
            </ul>
            <p>Адрес: г. Вологда, ул. Галкинская, 3</p>
        </div>
    </div>
</footer>
</div>
<script th:src="@{/js/script.js}" defer></script>
</body>
</html>