<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe/Админ</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/cursor.css}">

</head>
<body>
<div id="cursor"><div id="circle"></div></div>
<div class="wrapper">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/admin/home_admin}">Bank Of Universe</a>
            </div>

            <div class="navbar-register">
                <a href="/logout" class="logout-btn">Выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/admin/home_admin}" class="register-btn">Личный кабинет</a>

                <!--                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/home_admin}" class="register-btn">Личный кабинет</a>-->
                <!--                <a sec:authorize="hasRole('USER')" th:href="@{/user/profile}" class="register-btn">Личный кабинет</a>-->

            </div>
        </div>
    </header>
    <main>

        <div class ="two-columns" style="justify-content: flex-start; align-items: flex-start;">
        <aside class="sidebar">
            <ul>
                <li><a th:href="@{/admin/deposit}" th:classappend="${activeSection=='deposit'}?'active':''" onclick="showSection('deposit')">Создать вклад</a></li>
                <li><a th:href="@{/admin/delete}" th:classappend="${activeSection=='accDep'}?'active':''" onclick="showSection('accDep')">Удалить вклад</a></li>
                <li><a th:href="@{/admin/clientDel}" th:classappend="${activeSection=='clientDel'}?'active':''" onclick="showSection('clientDel')">Удалить клиента</a></li>
                <li><a th:href="@{/admin/clientAdd}" th:classappend="${activeSection=='clientADD'}?'active':''" onclick="showSection('clientADD')">Добавить клиента</a></li>
                <li><a th:href="@{/admin/accountDel}" th:classappend="${activeSection=='accDel'}?'active':''" onclick="showSection('accDel')">Удалить счет</a></li>
                <li><a th:href="@{/admin/topUp}" th:classappend="${activeSection=='accADD'}?'active':''" onclick="showSection('accADD')">Пополнить счет</a></li>
            </ul>
        </aside>
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="admin-form">

            <form th:action="@{/admin/deposit}" method="POST" th:object="${deposits}">
                <label for="name">Название вклада:</label>
                <input type="text" id="name" th:field="*{name}" required />
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name error</div>

                <div class="container">
                    <label for="prolongation">Пролонгация (y/n):</label>
                    <input type="radio" id="Pyes" th:field="*{prolongation}" value="y" />
                    <label for="Pyes">Да</label>
                    <input type="radio" id="Pno" th:field="*{prolongation}" value="n" />
                    <label for="Pno">Нет</label>
                    <div class="error" th:if="${#fields.hasErrors('prolongation')}" th:errors="*{prolongation}"></div>

                </div>

                <div class="container">
                    <label for="replenishmentCapasity">Возможность пополнения (y/n):</label>
                    <input type="radio" id="Cyes" th:field="*{replenishmentCapasity}" value="y" />
                    <label for="Cyes">Да</label>
                    <input type="radio" id="Cno" th:field="*{replenishmentCapasity}" value="n" />
                    <label for="Cno">Нет</label>
                    <div class="error" th:if="${#fields.hasErrors('replenishmentCapasity')}" th:errors="*{replenishmentCapasity}"></div>
                </div>

                <label for="rate">Ставка:</label>
                <input type="number" id="rate" th:field="*{rate}" required />
                <div class="error" th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}"></div>

                <div class="container">
                    <label for="depositStatus">Статус вклада (o/c):</label>
                    <input type="radio" id="open" th:field="*{depositStatus}" value="o" />
                    <label for="open">Открыт</label>
                    <input type="radio" id="close" th:field="*{depositStatus}" value="c" />
                    <label for="close">Закрыт</label>
                    <div class="error" th:if="${#fields.hasErrors('depositStatus')}" th:errors="*{depositStatus}"></div>
                </div>

                <label for="minTermDays">Минимальный срок (месяцев):</label>
                <input type="number" id="minTermDays" th:field="*{minTermDays}" required />
                <div class="error" th:if="${#fields.hasErrors('minTermDays')}" th:errors="*{minTermDays}"></div>

                <label for="maxTermDays">Максимальный срок (месяцев):</label>
                <input type="number" id="maxTermDays" th:field="*{maxTermDays}" required />
                <div class="error" th:if="${#fields.hasErrors('maxTermDays')}" th:errors="*{maxTermDays}"></div>

                <label for="minAmount">Минимальная сумма:</label>
                <input type="number" id="minAmount" th:field="*{minAmount}" required />
                <div class="error" th:if="${#fields.hasErrors('minAmount')}" th:errors="*{minAmount}"></div>

                <label for="maxAmount">Максимальная сумма:</label>
                <input type="number" id="maxAmount" th:field="*{maxAmount}" required />
                <div class="error" th:if="${#fields.hasErrors('maxAmount')}" th:errors="*{maxAmount}"></div>

                <div class="createDeposit">
                    <input type="submit" value="Создать вклад">
                </div>
            </form>
        </div>
    </div>

    </main>
    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; 2025 Bank Of Universe. Все права не защищены.</p>
            <div class="footer-column">
                <div class="footer-column">
                    <h4>Создатель</h4>
                    <p>ФИО: Лычешков Владислав Александрович</p>
                    <p>Группа: ПМ-41 4Б01</p>
                    <p>Email: 100479b@mail.ru </p>
                </div>
            </div>
            <div class="footer-column">
                <h4>ВоГу</h4>
                <ul class="footer-links">
                    <li>
                        <img src="/icons/vogu.png" alt="" class="footer-icon">
                        <a href="https://vogu35.ru/institut/imekn">ВоГу</a>
                    </li>
                    <li>
                        <img src="/icons/vk.png" alt="" class="footer-icon">
                        <a href="https://vk.com/vogu35">VK</a>
                    </li>
                </ul>
                <p>Адрес: г. Вологда, ул. Галкинская, 3</p>
            </div>
        </div>
    </footer>
</div>
<script th:src="@{/js/script.js}" defer></script>
</body>
</html>