<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe/Админ</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/cursor.css}">
</head>
<body>
<div id="cursor"><div id="circle"></div></div>
<div class="wrapper">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/admin/home_admin}">Bank Of Universe</a>
            </div>

            <div class="navbar-register">
                <a href="/logout" class="logout-btn">Выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/admin/home_admin}" class="register-btn">Личный кабинет</a>
            </div>
        </div>
    </header>
    <main>
        <div class ="two-columns" style="justify-content: flex-start; align-items: flex-start;">
            <aside class="sidebar">
                <ul>
                    <li><a th:href="@{/admin/deposit}" th:classappend="${activeSection=='deposit'}?'active':''" onclick="showSection('deposit')">Создать вклад</a></li>
                    <li><a th:href="@{/admin/delete}" th:classappend="${activeSection=='accDep'}?'active':''" onclick="showSection('accDep')">Удалить вклад</a></li>
                    <li><a th:href="@{/admin/clientDel}" th:classappend="${activeSection=='clientDel'}?'active':''" onclick="showSection('clientDel')">Удалить клиента</a></li>
                    <li><a th:href="@{/admin/clientAdd}" th:classappend="${activeSection=='clientADD'}?'active':''" onclick="showSection('clientADD')">Добавить клиента</a></li>
                    <li><a th:href="@{/admin/accountDel}" th:classappend="${activeSection=='accDel'}?'active':''" onclick="showSection('accDel')">Удалить счет</a></li>
                    <li><a th:href="@{/admin/topUp}" th:classappend="${activeSection=='accADD'}?'active':''" onclick="showSection('accADD')">Пополнить счет</a></li>
                </ul>
            </aside>
            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
<!--            <section class="profile-content">-->
<!--            <div id="section-deposit" class="profile-section" th:classappend="${activeSection=='deposit'}?'active':''">-->
<!--                <div class="redirect-button">-->
<!--                    <a th:href="@{/admin/deposit}" class="redirect-btn">Создать вклад</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div id="section-accDep" class="profile-section" th:classappend="${activeSection=='accDep'}?'active':''">-->
<!--                <div class="redirect-button">-->
<!--                    <a th:href="@{/admin/delete}" class="redirect-btn">Удалить вклад</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div id="section-clientDel" class="profile-section" th:classappend="${activeSection=='clientDel'}?'active':''">-->
<!--                <div class="redirect-button">-->
<!--                    <a th:href="@{/admin/clientDel}" class="redirect-btn">Удалить клиента</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div id="section-clientADD" class="profile-section" th:classappend="${activeSection=='clientADD'}?'active':''">-->
<!--                <div class="redirect-button">-->
<!--                    <a th:href="@{/admin/clientAdd}" class="redirect-btn">Добавить клиента</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="section-accDel" class="profile-section" th:classappend="${activeSection=='accDel'}?'active':''">-->
<!--                <div class="redirect-button">-->
<!--                    <a th:href="@{/admin/accountDel}" class="redirect-btn">Удалить счет</a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div id="section-accADD" class="profile-section" th:classappend="${activeSection=='accADD'}?'active':''">-->
<!--                <div class="redirect-button">-->
<!--                    <a th:href="@{/admin/topUp}" class="redirect-btn">Пополнить счет</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            </section>-->

    </main>
    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; 2025 Bank Of Universe. Все права не защищены.</p>
            <div class="footer-column">
                <div class="footer-column">
                    <h4>Создатель</h4>
                    <p>ФИО: Лычешков Владислав Александрович</p>
                    <p>Группа: ПМ-41 4Б01</p>
                    <p>Email: 100479b@mail.ru </p>
                </div>
            </div>
            <div class="footer-column">
                <h4>ВоГу</h4>
                <ul class="footer-links">
                    <li>
                        <img src="/icons/vogu.png" alt="" class="footer-icon">
                        <a href="https://vogu35.ru/institut/imekn">ВоГу</a>
                    </li>
                    <li>
                        <img src="/icons/vk.png" alt="" class="footer-icon">
                        <a href="https://vk.com/vogu35">VK</a>
                    </li>
                </ul>
                <p>Адрес: г. Вологда, ул. Галкинская, 3</p>
            </div>
        </div>
    </footer>
</div>
<script th:src="@{/js/script.js}" defer></script>
</body>
</html>