<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe/Админ</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a th:href="@{/admin/home_admin}">Bank Of Universe</a>
            </div>
            <ul class="navbar-links">
                <li><a th:href="@{/allDeposits}">Вклады</a></li>
            </ul>
            <div class="navbar-register">
                <a href="/logout" class="logout-btn">Выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/admin/home_admin}" class="register-btn">Личный кабинет</a>
            </div>
        </div>
    </header>
    <div class="containerIn">
        <div class="admin-form">
            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
            </div>
            <div class="redirect-button">
                <a th:href="@{/admin/deposit}" class="redirect-btn">Создать вклад</a>
            </div>
            <div class="redirect-button">
                <a th:href="@{/admin/delete}" class="redirect-btn">Удалить вклад</a>
            </div>
            <div class="redirect-button">
                <a th:href="@{/admin/clientDel}" class="redirect-btn">Удалить клиента</a>
            </div>
            <div class="redirect-button">
                <a th:href="@{/admin/clientAdd}" class="redirect-btn">Добавить клиента</a>
            </div>
            <div class="redirect-button">
                <a th:href="@{/admin/accountDel}" class="redirect-btn">Удалить счет</a>
            </div>
            <div class="redirect-button">
                <a th:href="@{/admin/topUp}" class="redirect-btn">Пополнить счет</a>
            </div>

        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Bank Of Universe. Все права не защищены.</p>
            <ul class="footer-links">
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>