<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Of Universe/Регистрация</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="navbar">
                <div class="navbar-logo">
                    <a href="home.html">Bank Of Universe</a>
                </div>
                <ul class="navbar-links">
                    <li><a href="#">Переводы</a></li>
                    <li><a href="#">Вклады</a></li>
                    <li><a href="#">Карты</a></li>
                    <li><a href="home_user.html">Профиль</a></li>
                    <li><a href="#">О банке</a></li>
                </ul>
                <div class="navbar-register">
                    <a href="register.html" class="register-btn">Регистрация</a>
                </div>
            </div>
        </header>

        <div class="containerReg">
            <div class="registration-banner">
                <h1>Регистрация</h1>
            </div>
            <div class="registration-form">
                <h2>Bank Of Univers</h2>
            <form method="POST" th:action="@{/clients/register}" th:object="${clients}">

                <input name="login" type="text" placeholder="Логин" id="login" th:field="*{login}" required/>
                <div class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Ошибка ввода логина</div>
            
                <input name="mail" type="email" placeholder="Почта" id="mail" th:field="*{mail}" required/>
                <div class="error" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Ошибка ввода почты</div> 

                <input name="password" type="password" placeholder="Пароль" id="password" th:field="*{password}" required/>
                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка ввода пароля</div>

                <input name="numberPasport" type="text" placeholder="Номер паспорта" id="numberPasport" th:field="*{numberPasport}" required/>
                <div class="error" th:if="${#fields.hasErrors('numberPasport')}" th:errors="*{numberPasport}">Ошибка ввода номера паспорта</div>

                <input name="seriesPasport" type="text" placeholder="Серия поспорта" id="seriesPasport" th:field="*{seriesPasport}" required />
                <div class="error" th:if="${#fields.hasErrors('seriesPasport')}" th:errors="*{seriesPasport}">Ошибка ввода серии паспорта</div>

                <input name="first_name" type="text" placeholder="Имя" id="first_name" th:field="*{first_name}" required />
                <div class="error" th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}">Ошибка ввода имени</div>

                <input name="last_name" type="text" placeholder="Фамилия" id="last_name" th:field="*{last_name}"  required/>
                <div class="error" th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}">Ошибка ввода фамилии</div>

                <input name="surname" type="text" placeholder="Отчество" id="surname" th:field="*{surname}" />
                <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Ошибка ввода отчества</div>

                <input name="number" type="text" placeholder="Номер телефона" id="number" th:field="*{number}"  required/>
                <div class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Ошибка ввода номера телефона</div>

                <div class="error" th:if="${error}">
                    <p th:text="${error}"></p>
                </div>
                <div class="signin">
                    Уже есть аккаунт? <a th:href="@{/signIn}" class="login-link"> Войти</a> <input type="submit" value="Регистрация"> 
                </div>
            </form>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <p>&copy; 2024 Bank Of Universe. Все права не защищены.</p>
                <ul class="footer-links">
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
        </footer>
</div>
</body>
</html>