<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>>Bank Of Universe/Вход</title>
    <link th:href="@{/style/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="navbar">
                <div class="navbar-logo">
                    <a th:href="@{/home}">Bank Of Universe</a>
                </div>
                <ul class="navbar-links">
                    <li><a href="#">Переводы</a></li>
                    <li><a href="#">Вклады</a></li>
                    <li><a href="#">Карты</a></li>
                    <!--                    <li><a th:href="#">Переводы</a></li>-->
                    <!--                    <li><a th:href="#">Вклады</a></li>-->
                    <!--                    <li><a th:href="#">Карты</a></li>-->
                    <li><a th:href="@{home_user}">Профиль</a></li>
                    <!--                    <li><a th:href="#">О банке</a></li>-->
                    <li><a href="#">О банке</a></li>
                </ul>
                <div class="navbar-register">
                    <a th:href="@{/register}" class="register-btn">Регистрация</a>
                </div>
            </div>
        </header>
        <div class="containerIn">
            <div class="registration-banner"><h1>Вход</h1></div>
            <div class="signin-form">
                <h2>Bank Of Univers</h2>
                <form method="POST" th:action="@{/clients/signIn}" th:object="${clients}">
                    <input name="login" type="text" placeholder="Логин" id="login" th:field="*{login}" required/>
                    <div class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Ошибка ввода логина</div>

                    <input name="password" type="password" placeholder="Пароль" id="password" th:field="*{password}" required/>
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка ввода пароля</div>

                <div class="signin">
                    Еще нет аккаунта? <a th:href="@{/register}"class="reg-link"> Зарегистрироваться</a> <input type="submit" value="Вход"></div>
                </form>
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <p>&copy; 2024 Bank Of Universe. Все права не защищены.</p>
                <ul class="footer-links">
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
        </footer>
    </div>

</body>
</html>